@import "../../../scss/variables.scss";

.typography {
   font-family: "Sofia Pro";
   font-style: normal;
   color: $gris05;
   margin: 0;
   font-weight: 400;
   &--left {
      text-align: left;
   }
   &--center {
      text-align: center;
   }
   &__bold {
      font-weight: 700;
   }
   &__underline {
      text-decoration-line: underline;
   }
   &__h1 {
      &--desktop {
         font-size: 56px;
         line-height: 64px;
      }
      &--mobile {
         font-size: 32px;
         line-height: 40px;
      }
   }
   &__h2 {
      &--desktop {
         font-size: 56px;
         line-height: 64px;
      }
      &--mobile {
         font-size: 24px;
         line-height: 32px;
      }
   }
   &__h3 {
      &--desktop {
         font-size: 56px;
         line-height: 64px;
      }
      &--mobile {
         font-size: 20px;
         line-height: 24px;
      }
   }
   &__paragraph1 {
      &--desktop {
         font-size: 24px;
         line-height: 32px;
      }
      &--mobile {
         font-size: 16px;
         line-height: 24px;
      }
   }
   &__paragraph2 {
      &--desktop {
         font-size: 16px;
         line-height: 24px;
      }
      &--mobile {
         font-size: 14px;
         line-height: 20px;
      }
   }
   &__legal,
   &__small-12 {
      &--desktop,
      &--mobile {
         font-size: 12px;
         line-height: 16px;
      }
   }
}
