$white: #ffffff;
$primary: #9c56e0;
$gris01: #f6f6f6;
$gris02: #e5e5e5;
$gris03: #bcbcbc;
$gris04: #555555;
$gris05: #313131;
$black: #000000;

$color1: #1E5496;

$discord: #5865f2;
$whatsapp: #25d366;

$translucentGris05: #31313150;

// hover
$hoverPrimary: #f7f6fd;

$warningColor: #ff2c2c;
$warningLight1Color: #c432571f;

$bgStatusStarted: #d2f9f0;
$bgStatusToStart: #fffdcd;
$bgStatusFinished: #ffe6e0;

$bgModalityLocador: #d4f7ff;

$colorStatusStarted: #259d81;
$colorStatusToStart: #b9992b;
$colorStatusFinished: #d84949;

$statusAttended: #d2f9f0;
$statusDelay: #fffdcd;
$statusAbsence: #ffe6e0;
$statusJustified: #e5e5e5;
$statusRecovered: #E5F2FF;
$statusMaterial: #F7F6FD;

$statusAttendedText: #259d81;
$statusDelayText: #b9992b;
$statusAbsenceText: #d84949;
$statusJustifiedText: #555555;
$statusRecoveredText: #2491FD;
$statusMaterialText: #9C56E0;

$statusLetter: #259d81;

$colorModalityLocador: #3d8de7;

$colorAlertRed: #f74949;
$colorAlertPrimary: #9c56e0;
$colorAlertSuccess: #0bc79b;

$shadowLarge: 0px 2px 15px rgba(0, 0, 0, 0.1), 0px 15px 40px rgba(0, 0, 0, 0.08);
